<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <!-- Brand and Navbutton -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Testverktyg</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collapse Menu -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <button type="button" class="btn btn-default navbar-btn navbar-right" id="login" data-toggle="modal" data-target="#login-modal">Logga In</button>
        </div>
    </div>
</nav>

<!-- Login dialog overlay -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form>
                <input type="text" name="user" placeholder="Email" id="usernameInput">
                <input type="password" name="pass" placeholder="Password" id="passwordInput">
                <input type="submit" name="login" class="login loginmodal-submit" value="Login" id="loginButton" data-toggle="modal" data-target="#login-modal">
            </form>
        </div>
    </div>
</div>


<script>
    $('#loginButton').on('click', function (e) {
        e.preventDefault();
        var value = $('#usernameInput').val();
        var password = $('#passwordInput').val();
        $.ajax({
            url: '/login',
            data: {email: value, password: password},
            type: 'POST',
            success: function () {
            console.log('success');
                $('#usernameInput').val('');
                $('#passwordInput').val('');
                setTimeout(function(){location.reload()}, 300);
            },
            error: function () {
                console.log('error');
            }
        });
    });
</script>