<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <!-- Brand and Navbutton -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Testverktyg</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collapse Menu -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
               <li><a href="/create">Skapa</a></li>
            </ul>

            <button type="button" class="btn btn-default navbar-btn navbar-right" id="login">Logga In</button>

        </div>
    </div>
</nav>