
<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        {{#if fName}}
            <h1>Hej, {{fName}}</h1>
        {{else}}
            <h1>Testverktyg!</h1>
        {{/if}}
        <p>Välkommen till testverktyget! Genom menyn ovan kan nå tillgängliga
        test samt se resultat för redan rättade test.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Resultat »</a></p>
    </div>
</div>


<!-- Footer -->
<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text text-center"> Web Design & Development by Winners
            <span class="glyphicon glyphicon-star"></span>
        </p>
    </div>
</footer>
