
<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        {{#if fName}}
            <h1>Hej, {{fName}}</h1>
        {{else}}
            <h1>Testverktyg!</h1>
        {{/if}}
        <p>Välkommen till testverktyget! Skapa ett anpassat test eller nå verktygets andra funktioner
            genom navigationsmenyn ovan.</p>
        <p><a class="btn btn-primary btn-lg" href="/create" role="button">Skapa Test »</a></p>
    </div>
</div>

<!-- Features -->
<section id="features">
    <div class="container">
        <div class="page-header">
            <h2>Funktioner</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon glyphicon-pencil"></span>
                        <h4>Skapa Test</h4>
                        <p>Skapa ett test anpassat efter dina villkor i ett enkelt gränssnitt. Verktyget
                            erbjuder olika frågetyper, självrättande prov, datumbegränsning med mera.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-stats"></span>
                        <h4>Visa Statistik</h4>
                        <p>Se statistik över valt test och vald grupp. Se antal
                            genomförda test, antal godkända test samt snittvärden på poäng och tidsåtgång.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-hourglass"></span>
                        <h4>Begränsa tid</h4>
                        <p>Bestäm själv under vilka datum testet ska vara öppet för
                            testtagare. Självklart kan du även sätta en tidsbegränsning för hur lång
                            tid man ska ha på sig medan man gör testet.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Footer -->
<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text text-center"> Web Design & Development by Winners
            <span class="glyphicon glyphicon-star"></span>
        </p>
    </div>
</footer>