.jumbotron {
    padding-top: 75px;
}

#features {
    margin-bottom: 75px;
}

.no-close .ui-dialog-titlebar-close{
    display: none;
}

.ui-widget-overlay.ui-front { /* you want this */
    opacity:.75;
}