.jumbotron {
    padding-top: 75px;
}

#features {
    margin-bottom: 75px;
}
#test {
    margin-top: 75px;
}
.panel-content {
    padding: 10px;
}
.answer {
    margin-bottom: 10px;
}
.no-close .ui-dialog-titlebar-close{
    display: none;
}

.ui-widget-overlay.ui-front { /* you want this */
    opacity:.75;
}