body {
    margin-top: 50px;
    margin-bottom: 75px;
}
.jumbotron {
    padding-top: 100px;
    background: url('test.jpg') center center;
}

#features {
    margin-bottom: 75px;
}
.answerPanel {
    margin-top: 75px;
}
.panel-content {
    padding: 10px;
}
.answer {
    margin-bottom: 10px;
}
.no-close .ui-dialog-titlebar-close{
    display: none;
}

.ui-widget-overlay.ui-front { /* you want this */
    opacity:.75;
}
.control-label {
    margin-top: 10px;
}

.leftMargin {
    margin-left: 25px;
}