

<!-- Content -->
<div class="container" id="test">
    <div class="col-lg-8">
        <div class="panel panel-default">

            <!-- Title -->
            <div class="panel-heading">
                <h3 class="panel-title">Fråga 1</h3>
            </div>
            <br>
            <form class="panel-content">
                <!-- Question -->
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Fråga?">
                </div>

                <!-- Alternatives -->
                <div class="form-group">
                    <select class="form-control">
                        <option hidden>Välj Typ</option>
                        <option>Flervalsfrågor</option>
                        <option>Alternativfrågor</option>
                        <option>Rangordningsfrågor</option>
                        <option>Öppna frågor</option>
                    </select>
                </div>

                <!-- Answers -->
                <div class="input-group answer">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" placeholder="Svar 1">
                </div>
                <div class="input-group answer">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" placeholder="Svar 2">
                </div>
                <button type="button" class="btn btn-default">Lägg till Svar</button>
            </form>
        </div>

        <!-- Buttons -->
        <button type="button" class="btn btn-default">Skapa Fråga</button>
        <button type="button" class="btn btn-default pull-right">Spara Test</button>
    </div>
</div>


<!-- Footer -->
<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text text-center"> Web Design & Development by Winners
            <span class="glyphicon glyphicon-star"></span>
        </p>
    </div>
</footer>