<!-- Content -->
<div class="container" id="test">
    <div class="col-lg-8">

        <div class="panel panel-default notthis">
            <div class="panel-heading">
                <h3 class="panel-title">Skapa nytt Test!</h3>
            </div>
            <div class="panel-body">
                <form>
                    <!-- Test Name -->
                    <label class="control-label">Namn på test:</label>
                    <input type="text" class="form-control" placeholder="Testnamn" id="testName">

                    <!-- Time Limit -->
                    <label class="control-label">Tidsbegränsning:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                        <input type="text" class="form-control" placeholder="Minuter">
                    </div>

                    <!-- Datepicker -->
                    <div class="form-group">
                        <label class="control-label" for="date">Slutdatum:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input class="form-control" id="date" placeholder="YYYY-MM-DD" type="text"/>
                        </div>
                    </div>

                    <!-- Checkbox -->
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Självrättande</label>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal -->
        <div id="questionModal" class="modal fade" role="dialog">

        </div>

        <div id="questionBox">
            
        </div>

        <!-- Buttons -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#questionModal" id="createQuestion">Skapa Fråga</button>
        <button type="button" class="btn btn-default pull-right" id="saveTest">Spara Test</button>
    </div>
</div>


<!-- Footer -->
<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text text-center"> Web Design & Development by Winners
            <span class="glyphicon glyphicon-star"></span>
        </p>
    </div>
</footer>

<script>

    $('#createQuestion').on('click', function(){
        resetQuestionBox();
    });

    $('#questionModal').on('click', '#addButton', function () {
        var answerCount = $('.answer').length + 1;
        $('#answersBox').append('<div class="input-group answer"> <span class="input-group-btn"> <button class="btn btn-default removeButton" type="button"> <span class="glyphicon glyphicon-remove"></span> </button> </span> <input type="text" class="form-control" placeholder="Svar ' + answerCount + '"> </div>')
    });

    $(document).on('click', 'button.removeButton', function (events) {
        $(this).parents('div').eq(0).remove();
    });

    $('#date').datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        autoclose: true
    });

    $(document).on('click', '#saveQuestion', function() {
        var i = "";
        $('.answer input').each(function() {
            i += '<li class="list-group-item">'+ $(this).val() +'</li>';
        });
        $('#questionBox').append(`
        <div class="panel panel-default">
            <div class="panel-heading">
            <meta class="` + $('#typeSelect').val() + `">
                <h3 class="panel-title">`+ $("#question").find('input').val() +`</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">`+ i +`</ul>
            </div>
        </div>`);
    });

    $('#test').on('click', '.panel-heading', function(e) {
        $(this).next('.panel-body').slideToggle();
        console.log(this);
    });

    function resetQuestionBox(){
        $('#questionModal').html(`

                <div class="modal-dialog">


                <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fråga 1</h4>
                </div>
                <div class="modal-body">
                <form>

                <div class="form-group" id="question">
                <input type="text" class="form-control questionTitle" placeholder="Fråga?">
                </div>


                <div class="form-group">
                <select class="form-control" id="typeSelect">
                <option hidden>Välj Typ</option>
                <option>Flervalsfrågor</option>
                <option>Alternativfrågor</option>
                <option>Rangordningsfrågor</option>
                <option>Öppna frågor</option>
                </select>
                </div>


                <div id="answersBox">
                <div class="input-group answer">
                <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                </button>
                </span>
                <input type="text" class="form-control" placeholder="Svar 1">
                </div>
                <div class="input-group answer">
                <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                </button>
                </span>
                <input type="text" class="form-control" placeholder="Svar 2">
                </div>
                </div>
                <p id="infoText"></p>
                </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" id="addButton">Lägg till Svar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="saveQuestion">Spara</button>
                </div>
                </div>
                </div>`);
    }

    $('#saveTest').on('click', function(){
        var testData = {};
        getTestData(testData);
        getQuestionData(testData);
        getAnswerData(testData);
        $.ajax({
            url: '/create',
            method: 'post',
            data: testData,
            success: function(){

            }
        });
    });

    function getTestData(storeVariable){
        var data = {};
        data.userId = {{id}};
        data.testTitle = $('#testName').val();
        data.minutes = 0;
        data.maxPoints = 0;
        storeVariable.data = data;
    }

    function getQuestionData(storeVariable){
        var questionData = new Object();
        var questionsArray = [];
        $('.panel-default').each(function(index){
            if($(this).hasClass('notthis')){
                return true;
            }
           questionData.title = $(this).find('h3').text();
           questionData.testTitle = $('#testName').val();
           questionData.qType = $(this).find('meta').attr('class');
           questionData.qOrder = index;
           questionData.score = 0;
           questionsArray.push(questionData);
           questionData = new Object();
        });
        storeVariable.questions = questionsArray;
    }

    function getAnswerData(storeVariable){
        var answerData = new Object();
        var answersArray = [];
        $('.panel-default').each(function(){
            if($(this).hasClass('notthis')){
                return true;
            }
            var questionTitle = $(this).find('h3').text();
            $(this).find('li').each(function(index){
                answerData.qTitle = questionTitle;
                answerData.title = $(this).text();
                answerData.order = index;
                answerData.score = 0;
                answerData.corrected = 0;
                answersArray.push(answerData);
                answerData = new Object();
            });
        });
        storeVariable.answers = answersArray;
    };

</script>