<!-- Content -->
<div class="container" id="test">
    <div class="col-lg-8 col-lg-offset-1">

        <div class="panel panel-default notthis">
            <div class="panel-heading">
                <h3 class="panel-title">Skapa nytt Test!</h3>
            </div>
            <div class="panel-body">
                <form>
                    <!-- Test Name -->
                    <label class="control-label">Namn på test:</label>
                    <input type="text" class="form-control" placeholder="Testnamn" id="testName">

                    <!-- Time Limit -->
                    <label class="control-label">Tidsbegränsning:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" id="timed">
                        </span>
                        <input type="text" class="form-control" placeholder="HH:MM" id="time">
                    </div>

                    <!-- Datepicker -->
                    <div class="form-group col-lg-6" style="padding: 0">
                        <div class="col-lg-11" style="padding: 0">
                        <label class="control-label" for="date">Startdatum:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input class="form-control" id="dateStart" placeholder="YYYY-MM-DD" type="text"/>
                        </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 pull-right" style="padding: 0">
                        <div class="col-lg-11 pull-right" style="padding: 0">
                        <label class="control-label" for="date">Starttid:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                            <input class="form-control timepicker" type="text" placeholder="HH:MM"/>
                        </div>
                        </div>
                    </div>

                    <!-- Datepicker -->
                    <div class="form-group col-lg-6" style="padding: 0">
                        <div class="col-lg-11" style="padding: 0">
                            <label class="control-label" for="date">Slutdatum:</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                <input class="form-control" id="dateStart" placeholder="YYYY-MM-DD" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 pull-right" style="padding: 0">
                        <div class="col-lg-11 pull-right" style="padding: 0">
                            <label class="control-label" for="date">Sluttid:</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                                <input class="form-control timepicker" type="text" placeholder="HH:MM"/>
                            </div>
                        </div>
                    </div>

                    <!-- Checkbox -->
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="selfCorrecting">Självrättande</label>
                    </div>
                    <div class="checkbox hidden" id="directResult">
                        <label><input type="checkbox" value="">Direktresultat</label>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal -->
        <div id="questionModal" class="modal fade" role="dialog">

        </div>
        <div id="editModal" class="modal fade" role="dialog">

        </div>

        <div id="questionBox">

        </div>

        <!-- Buttons -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#questionModal" id="createQuestion">Skapa Fråga</button>
        <button type="button" class="btn btn-default pull-right" id="saveTest">Spara Test</button>
    </div>
</div>


<!-- Footer -->
<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text text-center"> Web Design & Development by Winners
            <span class="glyphicon glyphicon-star"></span>
        </p>
    </div>
</footer>

<script>

    YUI().use(
            'aui-timepicker',
            function(Y) {
                new Y.TimePicker(
                        {
                            trigger: 'input.timepicker',
                            mask: '%H:%M',
                            popover: {
                                zIndex: 999
                            },
                            on: {
                                selectionChange: function(event) {
                                    console.log(event.newSelection)
                                }
                            }
                        }
                );
            }
    );

    $('#createQuestion').on('click', function(){
        resetQuestionBox();
    });

    $('#questionModal').on('click', '#addButton', function () {
        var answerCount = $('.answer').length + 1;
        $('#answersBox').append(`<div class="input-group answer">
            <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
            <input type="text" class="form-control" placeholder="Svar ` + answerCount + `"> </div>`)
    });

    $(document).on('click', 'button.removeButton', function (events) {
        $(this).parents('div').eq(0).remove();
    });

    $('#date').datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        autoclose: true
    });
    $('#dateStart').datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        autoclose: true
    });

    $(document).on('click', '#saveQuestion', function() {
        var i = "";
        $('#questionModal .answer input').each(function() {
            i += '<li class="list-group-item">'+ $(this).val() +'</li>';
        });
        $('#questionBox').append(`
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <meta class="` + $('#typeSelect').val() + `">

                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm btn-edit" data-toggle="modal" data-target="#editModal">Redigera</button>
                    <button type="button" class="btn btn-default btn-sm btn-remove">
                        &nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;
                    </button>
                </div>
                <h3 class="panel-title">`+ $("#question").find('input').val() +' ('+ $('#typeSelect').val() +')'+`</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">`+ i +`</ul>
            </div>
        </div>`);
    });

    $('#test').on('click', '.panel-heading', function(e) {
        if(!$(event.target).hasClass('btn')){
            $(this).next('.panel-body').slideToggle();
        }
    });

    $(document).on('click', '.btn-remove', function() {
        $(this).closest('.panel').remove();
    });


    var thisPanel = '';
    $(document).on('click', '.btn-edit', function() {
        var title = $(this).parent().parent().find('.panel-title').html();
        var n = title.indexOf("(");
        var titleQuestion = title.substring(0, n).trim(); // variabel för fråga
        var titleType = title.substring(n); // variabel för typ av fråga

        var answers = $(this).parent().parent().parent().find('.panel-body').find('ul li');
        var answerlist = new Array(); // Array för svaren
        answers.each(function (i) {
            answerlist.push($(this).text());
        });

        thisPanel = $(this).parent().parent().parent();

        $('#editModal').html(`
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Fråga</h4>
                        </div>
                        <div class="modal-body">
                        <form>
                            <div class="form-group" id="questionEdit">
                                <input type="text" class="form-control questionTitle" placeholder="Fråga?" value="`+ titleQuestion +`">
                            </div>

                            <div class="form-group">
                                <select class="form-control" id="typeSelectEdit">
                                    <option hidden>Välj Typ</option>
                                    <option value="fler" id="qTypeMulti">Flervalsfråga</option>
                                    <option value="alternativ" id="qTypeAlt">Alternativfråga</option>
                                    <option value="rang" id="qTypeOrder">Rangordningsfråga</option>
                                    <option value="oppen" id="qTypeOpen">Öppen fråga</option>
                                </select>
                            </div>
                            <div id="answersBox">
                            </div>
                            <p id="infoText"></p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" id="addButton">Lägg till Svar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="saveEditButton">Spara</button>
                    </div>
                </div>
            </div>
        `);
        // loopa ut svaren i answerBox
        for(var i = 0; i < answerlist.length; i++){
            $('#editModal').find('#answersBox').append(`
                <div class="input-group answer">
                    <span class="input-group-btn">
                        <button class="btn btn-default removeButton" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" placeholder="Svar 1" value="`+ answerlist[i] +`">
                </div>
            `);
        }

        if(title.substring(n).search("Flervalsfråga") > -1){
            $('#typeSelectEdit option[value=fler]').attr('selected','selected');
        } else if (title.substring(n).search("Alternativfråga") > -1){
            $('#typeSelectEdit option[value=alternativ]').attr('selected','selected');
        } else if (title.substring(n).search("Rangordningsfråga") > -1){
            $('#typeSelectEdit option[value=rang]').attr('selected','selected');
        } else if (title.substring(n).search("Öppen fråga") > -1){
            $('#typeSelectEdit option[value=oppen]').attr('selected','selected');
        }
    });
    $('#editModal').on('click', '#saveEditButton', function () {
        var i = "";
        $('#editModal .answer input').each(function() {
            i += '<li class="list-group-item">'+ $(this).val() +'</li>';
        });
        thisPanel.html(`
            <div class="panel-heading clearfix">
                <meta class="` + $('#typeSelectEdit').val() + `">

                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm btn-edit" data-toggle="modal" data-target="#editModal">Redigera</button>
                    <button type="button" class="btn btn-default btn-sm btn-remove">
                        &nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;
                    </button>
                </div>
                <h3 class="panel-title">`+ $("#questionEdit").find('input').val() +' ('+ $('#typeSelectEdit :selected').text() +')'+`</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">`+ i +`</ul>
            </div>
        `);
    });
    $('#editModal').on('click', '#addButton', function () {
        var answerCount = $('.answer').length + 1;
        $('#editModal').find('#answersBox').append(`<div class="input-group answer">
            <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
            <input type="text" class="form-control" placeholder="Svar ` + answerCount + `"> </div>`);
    });

    function resetQuestionBox(){
        $('#questionModal').html(`

                <div class="modal-dialog">


                <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fråga 1</h4>
                </div>
                <div class="modal-body">
                <form>

                <div class="form-group" id="question">
                <input type="text" class="form-control questionTitle" placeholder="Fråga?">
                </div>


                <div class="form-group">
                <select class="form-control" id="typeSelect">
                <option hidden>Välj Typ</option>
                <option id="qTypeMulti">Flervalsfråga</option>
                <option id="qTypeAlt">Alternativfråga</option>
                <option id="qTypeOrder">Rangordningsfråga</option>
                <option id="qTypeOpen">Öppen fråga</option>
                </select>
                </div>


                <div id="answersBox">
                <div class="input-group answer">
                <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                </button>
                </span>
                <input type="text" class="form-control" placeholder="Svar 1">
                </div>
                <div class="input-group answer">
                <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                </button>
                </span>
                <input type="text" class="form-control" placeholder="Svar 2">
                </div>
                </div>
                <p id="infoText"></p>
                </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" id="addButton">Lägg till Svar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="saveQuestion">Spara</button>
                </div>
                </div>
                </div>`);
    }



    $(function() {
        $(document).on("change", "#typeSelect", function() {
            if($("#qTypeOpen").is(":selected")){
                $("#answersBox").html('<form>Egen notering:<br>' +
                '<input type="text" name="firstname" class="form-control"></form>');
            } else {

            }
        });
    });

    $('#selfCorrecting').on('change', function(){
       $('#directResult').toggleClass('hidden');
    });

    $('#saveTest').on('click', function(){
        var testData = {};
        getTestData(testData);
        getQuestionData(testData);
        getAnswerData(testData);
        $.ajax({
            url: '/create',
            method: 'post',
            data: testData,
            success: function(){
                console.log('Created test successfully');
                location.replace('/');
            }
        });
    });

    function getTestData(storeVariable){
        var data = {};
        data.userId = {{id}};
        data.testTitle = $('#testName').val();
        data.minutes = $('#timed').is(':checked')? Number($('#time').val()) : 0;
        data.maxPoints = 0;
        storeVariable.data = data;
    }

    function getQuestionData(storeVariable){
        var questionData = new Object();
        var questionsArray = [];
        $('.panel-default').each(function(index){
            if($(this).hasClass('notthis')){
                return true;
            }
           questionData.title = $(this).find('h3').text();
           questionData.testTitle = $('#testName').val();
           questionData.qType = $(this).find('meta').attr('class');
           questionData.qOrder = index;
           questionData.score = 0;
           questionsArray.push(questionData);
           questionData = new Object();
        });
        storeVariable.questions = questionsArray;
    }

    function getAnswerData(storeVariable){
        var answerData = new Object();
        var answersArray = [];
        $('.panel-default').each(function(){
            if($(this).hasClass('notthis')){
                return true;
            }
            var questionTitle = $(this).find('h3').text();
            $(this).find('li').each(function(index){
                answerData.qTitle = questionTitle;
                answerData.title = $(this).text();
                answerData.order = index;
                answerData.score = 0;
                answerData.corrected = 0;
                answersArray.push(answerData);
                answerData = new Object();
            });
        });
        storeVariable.answers = answersArray;
    };

</script>