<!-- Content -->
<div class="container" id="test">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title">Skapa Test!</h1>
            </div>
        </div>
        <hr>
        <div class="panel panel-default notthis">
            <div class="panel-heading">
                <h3 class="panel-title">Skapa nytt Test!</h3>
            </div>
            <div class="panel-body">
                <form>
                    <!-- Test Name -->
                    <label class="control-label">Namn på test:</label>
                    <div id = "controlTestName" class=""> </div>
                    <div id = "errorTestName" class="">
                        <input type="text" class="form-control" placeholder="Testnamn" id="testName"></div>

                    <!-- Time Limit -->
                    <label class="control-label">Tidsbegränsning:</label>
                    <div id = "controlTime" class=""> </div>
                    <div id = "errorTime" class="">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" id="timed">
                        </span>
                        <input type="text" class="form-control" placeholder="Minuter" id="time">
                    </div></div>

                    <!-- Datepicker -->
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label" for="date">Startdatum:</label>
                            <div id = "controlStartdate" class=""> </div>
                            <div id = "errorStartdate" class="">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                <input class="form-control" id="dateStart" placeholder="YYYY-MM-DD" type="text"/>
                            </div></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label" for="date">Starttid:</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                                <input class="form-control timepicker" id="timeStart" type="text" placeholder="HH:MM"/>
                            </div>
                        </div>
                    </div>

                    <!-- Datepicker -->
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label" for="date">Slutdatum:</label>
                            <div id = "controldate" class=""> </div>
                            <div id = "errordate" class="">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                <input class="form-control" id="date" placeholder="YYYY-MM-DD" type="text"/>
                            </div></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label" for="date">Sluttid:</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                                <input class="form-control timepicker" type="text" id="timeEnd" placeholder="HH:MM"/>
                            </div>
                        </div>
                    </div>

                    <!-- Checkbox -->
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="selfCorrecting">Självrättande</label>
                    </div>
                    <div class="checkbox hidden" id="directResult">
                        <label><input type="checkbox" value="">Direktresultat</label>
                    </div>
                    <div id =saved class="">
                        <label class="control-label" id="testSaved"></label>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal -->
        <div id="questionModal" class="modal fade" role="dialog">

        </div>
        <div id="editModal" class="modal fade" role="dialog">

        </div>

        <div id="questionBox">

        </div>

        <!-- Buttons -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#questionModal" id="createQuestion">Skapa Fråga</button>
        <button type="button" class="btn btn-default pull-right" id="saveTest">Spara Test</button>
    </div>

</div>


<!-- Footer -->
<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text text-center"> Web Design & Development by Winners
            <span class="glyphicon glyphicon-star"></span>
        </p>
    </div>
</footer>
<script>
    $("#saveTest").click(function (event) {
    if ($('#testName').val() == '') {

        document.getElementById('controlTestName').className = 'alert alert-danger';
        document.getElementById('controlTestName').textContent = 'Ange titel för test';
        document.getElementById('errorTestName').className = 'form-group  has-error';
    }
       else if ($('#timed').prop('checked') == true && $('#time').val() == '') {

            document.getElementById('controlTime').className = 'alert alert-danger';
            document.getElementById('controlTime').textContent = 'Ange tidsbegränsning i minuter';
            document.getElementById('errorTime').className = 'form-group  has-error';

        }
        else if ($('#dateStart').val() == '') {

            document.getElementById('controlStartdate').className = 'alert alert-danger';
            document.getElementById('controlStartdate').textContent = 'Ange startdatum';
            document.getElementById('errorStartdate').className = 'form-group  has-error';
        }
    else if ($('#date').val() == '') {

        document.getElementById('controldate').className = 'alert alert-danger';
        document.getElementById('controldate').textContent = 'Ange slutdatum';
        document.getElementById('errordate').className = 'form-group  has-error';
    }
    else{
        document.getElementById('controlTestName').className = '';
        document.getElementById('controlTestName').textContent = '';
        document.getElementById('errorTestName').className = '';
        document.getElementById('controlTime').className = '';
        document.getElementById('controlTime').textContent = '';
        document.getElementById('errorTime').className = '';
        document.getElementById('controlStartdate').className = '';
        document.getElementById('controlStartdate').textContent = '';
        document.getElementById('errorStartdate').className = '';
        document.getElementById('controldate').className = '';
        document.getElementById('controldate').textContent = '';
        document.getElementById('errordate').className = '';
        document.getElementById('testSaved').textContent = 'Ditt test har sparats';
        document.getElementById('saved').className = 'alert alert-success';
    }
    });

</script>

<script>

    YUI().use(
            'aui-timepicker',
            function(Y) {
                new Y.TimePicker(
                        {
                            timeFormat: '%H:%M',
                            trigger: 'input.timepicker',
                            mask: '%H:%M',
                            popover: {
                                zIndex: 999
                            },
                            on: {
                                selectionChange: function(event) {
                                }
                            }
                        }
                );
            }
    );

    $('#createQuestion').on('click', function(){
        resetQuestionBox();
    });

    $('#questionModal').on('click', '#addButton', function () {
        var answerCount = $('.answer').length + 1;
        $('#answersBox').append(`<div class="input-group answer">
            <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
            <input type="text" class="form-control" placeholder="Svar ` + answerCount + `">
            <span class="input-group-addon">
                <input type="checkbox">
            </span>
            </div>`)
    });

    $(document).on('click', 'button.removeButton', function (events) {
        $(this).parents('div').eq(0).remove();
    });

    $('#date').datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        autoclose: true
    });
    $('#dateStart').datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        autoclose: true
    });

    $(document).on('click', '#saveQuestion', function() {
        var i = "";
        $('#questionModal .answer input:text').each(function() {
            i += '<li class="list-group-item">'+ $(this).val() +'<span class="pull-right">Rätt svar: ';
            if($(this).parent().find('input:checkbox').is(':checked')){
                i += '<input type="checkbox" checked="checked"></span></li>';
            } else {
                i += '<input type="checkbox"></span></li>';
            }
        });
        $('#questionBox').append(`
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <meta class="` + $('#typeSelect :selected').text() + `">

                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm btn-edit" data-toggle="modal" data-target="#editModal">Redigera</button>
                    <button type="button" class="btn btn-default btn-sm btn-remove">
                        &nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;
                    </button>
                </div>
                <h3 class="panel-title" style="margin-top: 5px">`+ $("#question").find('input[type=text]').val() +' ('+ $('#typeSelect').val() +')'+`<span style="margin-right: 15px" class="pull-right">Poäng: `+ $('#points').val() +`</span></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group sortable">`+ i +`</ul>
            </div>
        </div>`);
        if($('#questionBox:contains("Öppen fråga")').length)
        {
            $('#selfCorrecting').prop('disabled', true);
        } else {
            $('#selfCorrecting').prop('disabled', false);
        }
        $('.sortable').sortable();
    });

    $('#test').on('click', '.panel-heading', function(e) {
        if(!$(event.target).hasClass('btn')){
            $(this).next('.panel-body').slideToggle();
        }
    });

    $(document).on('click', '.btn-remove', function() {
        $(this).closest('.panel').remove();
    });


    var thisPanel = '';
    $(document).on('click', '.btn-edit', function() {
        var title = $(this).parent().parent().find('.panel-title').html();
        var n = title.indexOf("(");
        var titleQuestion = title.substring(0, n).trim(); // variabel för fråga
        var titleType = title.substring(n); // variabel för typ av fråga
        var points = title.substring(title.indexOf('Poäng: ') + 7, title.indexOf('</span>'));

        var checks = $(this).parent().parent().parent().find('.panel-body').find('ul li');
        var checkslist = new Array();
        checks.each(function(i) {
            checkslist.push($(this).find('input:checkbox').is(':checked'));
        });

        var answers = $(this).parent().parent().parent().find('.panel-body').find('ul li');
        var answerlist = new Array(); // Array för svaren
        answers.each(function (i) {
            answerlist.push($(this).text());
        });

        thisPanel = $(this).parent().parent().parent();

        $('#editModal').html(`
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Fråga</h4>
                        </div>
                        <div class="modal-body">
                        <form>
                            <div class="form-group" id="questionEdit">
                                <input type="text" class="form-control questionTitle" placeholder="Fråga?" value="`+ titleQuestion +`">
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-6 form-group">
                                    <select class="form-control" id="typeSelectEdit">
                                        <option hidden>Välj Typ</option>
                                        <option value="fler" id="qTypeMulti">Flervalsfråga</option>
                                        <option value="alternativ" id="qTypeAlt">Alternativfråga</option>
                                        <option value="rang" id="qTypeOrder">Rangordningsfråga</option>
                                        <option value="oppen" id="qTypeOpen">Öppen fråga</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" placeholder="Poäng" id="questionpoint" value="`+ points +`">
                                </div>
                            </div>
                            <div id="answersBox">
                            </div>
                            <p id="infoText"></p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" id="addButton">Lägg till Svar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="saveEditButton">Spara</button>
                    </div>
                </div>
            </div>
        `);



        // loopa ut svaren i answerBox
        for(var i = 0; i < answerlist.length; i++){
            var checkscode = '';
            if(checkslist[i]){
                checkscode = '<input type="checkbox" checked="checked">';
            } else {
                checkscode = '<input type="checkbox">';
            }
            $('#editModal').find('#answersBox').append(`
                <div class="input-group answer">
                    <span class="input-group-btn">
                        <button class="btn btn-default removeButton" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" placeholder="Svar 1" value="`+ answerlist[i].substring(0, answerlist[i].indexOf('Rätt svar:')) +`">
                    <span class="input-group-addon">
                        `+ checkscode +`
                    </span>
                </div>
            `);
        }

        if(title.substring(n).search("Flervalsfråga") > -1){
            $('#typeSelectEdit option[value=fler]').attr('selected','selected');
        } else if (title.substring(n).search("Alternativfråga") > -1){
            $('#typeSelectEdit option[value=alternativ]').attr('selected','selected');
        } else if (title.substring(n).search("Rangordningsfråga") > -1){
            $('#typeSelectEdit option[value=rang]').attr('selected','selected');
        } else if (title.substring(n).search("Öppen fråga") > -1){
            $('#typeSelectEdit option[value=oppen]').attr('selected','selected');
        }
    });
    $('#editModal').on('click', '#saveEditButton', function () {
        var i = "";
        $('#editModal .answer input:text').each(function() {
            i += '<li class="list-group-item">'+ $(this).val() +'<span class="pull-right">Rätt svar: ';
            if($(this).parent().find('input:checkbox').is(':checked')){
                i += '<input type="checkbox" checked="checked"></span></li>';
            } else {
                i += '<input type="checkbox"></span></li>';
            }
        });
        thisPanel.html(`
            <div class="panel-heading clearfix">
                <meta class="` + $('#typeSelectEdit :selected').text() + `">

                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm btn-edit" data-toggle="modal" data-target="#editModal">Redigera</button>
                    <button type="button" class="btn btn-default btn-sm btn-remove">
                        &nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;
                    </button>
                </div>
                <h3 class="panel-title" style="margin-top: 5px">`+ $("#questionEdit").find('input').val() +' ('+ $('#typeSelectEdit :selected').text() +')'+`<span style="margin-right: 15px" class="pull-right">Poäng: `+ $('#questionpoint').val() +`</span></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group sortable">`+ i +`</ul>
            </div>
        `);
        if($('#questionBox:contains("Öppen fråga")').length)
        {
            $('#selfCorrecting').prop('disabled', true);
        } else {
            $('#selfCorrecting').prop('disabled', false);
        }
        $('.sortable').sortable();
    });
    $('#editModal').on('click', '#addButton', function () {
        var answerCount = $('.answer').length + 1;
        $('#editModal').find('#answersBox').append(`<div class="input-group answer">
            <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
            <input type="text" class="form-control" placeholder="Svar ` + answerCount + `">
            <span class="input-group-addon">
                <input type="checkbox">
            </span>
            </div>`);
    });

    function resetQuestionBox(){
        $('#questionModal').html(`

                <div class="modal-dialog">


                <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fråga 1</h4>
                </div>
                <div class="modal-body">
                <form>

                <div class="form-group" id="question">
                <input type="text" class="form-control questionTitle" placeholder="Fråga?">
                </div>

                <div class="row form-group">
                    <div class="col-lg-6 form-group">
                        <select class="form-control" id="typeSelect">
                            <option hidden>Välj Typ</option>
                            <option id="qTypeMulti">Flervalsfråga</option>
                            <option id="qTypeAlt">Alternativfråga</option>
                            <option id="qTypeOrder">Rangordningsfråga</option>
                            <option id="qTypeOpen">Öppen fråga</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" placeholder="Poäng" id="points">
                    </div>
                </div>

                <div id="answersBox">
                <div class="input-group answer">
                <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                </button>
                </span>
                <input type="text" class="form-control" placeholder="Svar 1">
                <span class="input-group-addon">
                    <input type="checkbox">
                </span>
                </div>
                <div class="input-group answer">
                <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                </button>
                </span>
                <input type="text" class="form-control" placeholder="Svar 2">
                <span class="input-group-addon">
                    <input type="checkbox">
                </span>
                </div>
                </div>
                <p id="infoText"></p>
                </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" id="addButton">Lägg till Svar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="saveQuestion">Spara</button>
                </div>
                </div>
                </div>`);
    }



    $(function() {
        $(document).on("change", "#typeSelect", function() {
            if($("#qTypeOpen").is(":selected")){
                $("#answersBox").html(`<div class="input-group answer">
                        <input type="text" class="form-control" placeholder="Detta är en öppen textfråga">
                        </div>`);
            } else {
                $("#answersBox").html(`                <div class="input-group answer">
                <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                </button>
                </span>
                <input type="text" class="form-control" placeholder="Svar 1">
                <span class="input-group-addon">
                    <input type="checkbox">
                </span>
                </div>
                <div class="input-group answer">
                <span class="input-group-btn">
                <button class="btn btn-default removeButton" type="button">
                <span class="glyphicon glyphicon-remove"></span>
                </button>
                </span>
                <input type="text" class="form-control" placeholder="Svar 2">
                <span class="input-group-addon">
                    <input type="checkbox">
                </span>
                </div>`);
            }
        });
    });

    $('#selfCorrecting').on('change', function(){
       $('#directResult').toggleClass('hidden');
    });

    $('#saveTest').on('click', function(){
        if($("#dateStart").val()=='' || $("#date").val()=='') {
            $("#missingInput").show();
            console.log("Inte tillåtet!")
        } else {
            $("#missingInput").hide();
            console.log("Tillåtet!")
            var testData = {};
            getTestData(testData);
            getQuestionData(testData);
            getAnswerData(testData);
            $.ajax({
                url: '/create',
                method: 'post',
                data: testData,
                success: function(){
                    console.log('Created test successfully');
                    location.replace('/');
                }
            });
        }
    });

    function getTestData(storeVariable){
        var data = {};
        data.userId = {{id}};
        data.testTitle = $('#testName').val();
        data.minutes = $('#timed').is(':checked')? Number($('#time').val()) : 0;
        data.startDT = $('#dateStart').val() + " " + $('#timeStart').val() + ":00";
        data.endDT = $('#date').val() + " " + $('#timeEnd').val() + ":00";
        data.checked = $('#selfCorrecting').is(':checked') ? 1 : 0;
        data.showResult = $('#directResult').is(':checked') ? 1 : 0;
        storeVariable.data = data;
    }

    function getQuestionData(storeVariable){
        var questionData = new Object();
        var questionsArray = [];
        var maxPointsTest = 0;
        $('.panel-default').each(function(index){
            if($(this).hasClass('notthis')){
                return true;
            }
           questionData.title = $(this).find('h3').text().split('\(')[0];
           questionData.testTitle = $('#testName').val();
           questionData.qType = $(this).find('meta').attr('class');
           questionData.qOrder = index;
           questionData.score = $(this).find('span').text().match(/\d+/) || 0;
           maxPointsTest += Number(questionData.score);
           questionsArray.push(questionData);
           questionData = new Object();
        });
        storeVariable.data.maxPoints = maxPointsTest;
        storeVariable.questions = questionsArray;
    }

    function getAnswerData(storeVariable){
        var answerData = new Object();
        var answersArray = [];
        $('.panel-default').each(function(){
            if($(this).hasClass('notthis')){
                return true;
            }
            var questionTitle = $(this).find('h3').text().split('\(')[0];
            $(this).find('li').each(function(index){
                var correctAnswer;
                if($(this).find('input:checkbox').is(':checked')){
                    correctAnswer = 1;
                } else {
                    correctAnswer = 0;
                }
                answerData.qTitle = questionTitle;
                answerData.title = $(this).text().substring(0, $(this).text().indexOf('Rätt svar:'));
                answerData.order = index;
                answerData.score = correctAnswer;
                answerData.corrected = 0;
                answersArray.push(answerData);
                answerData = new Object();
            });
        });
        storeVariable.answers = answersArray;
    };

</script>

    