<div class="container">l
    <div class="col-md-4 col-md-offset-4">

        <!-- Test selection -->
        <h3 class="page-header">Välj test att redigera</h3>
        <form action="/test" method="get">
            <select name="test" id="testSelect" class="form-control">
                {{#eQuestion}}
                    <option class="{{this.QuestionId}}">{{this.[0].Question}}</option>
                {{/eQuestion}}
            </select>
            <select name="test" id="testSelect" class="form-control">
                {{#eAnswer}}
                    <option class="">{{this.[0].[0].AText}}</option>
                {{/eAnswer}}
            </select>
            <select name="test" id="testSelect" class="form-control">
                {{#eAnswer}}
                    <option class="">{{this.[1].[2].AText}}</option>
                {{/eAnswer}}
            </select>
            <br>
            <button type="button" class="btn btn-primary btn-block" id="editButton" value="hh">Redigera test</button>
        </form>
    </div>
</div>



<script>
    
</script>