Hej {{name}}!
<br>
Det finns ett nytt Test tillgängligt för dig att göra.
<br><br>
Namn på Test: {{testName}}
<br>
Senast inlämnat: {{testDate}}
<br><br>
<a href="http://127.0.0.1:3000/">Länk till Testverktyget</a>