


<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Testverktyg!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium nisl tincidunt congue pulvinar. Maecenas leo orci, sodales vel convallis in, suscipit eu risus. Quisque non egestas magna. Phasellus euismod augue sed neque auctor rhoncus.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Skapa Test »</a></p>
    </div>
</div>

<!-- Features -->
<section id="features">
    <div class="container">
        <div class="page-header">
            <h2>Funktioner</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon glyphicon-pencil"></span>
                        <h4>Skapa Test</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis diam ut ipsum dictum
                            fringilla. Pellentesque nec sapien pharetra felis dictum sollicitudin id quis ante.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-stats"></span>
                        <h4>Visa Statistik</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis diam ut ipsum dictum
                            fringilla. Pellentesque nec sapien pharetra felis dictum sollicitudin id quis ante.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-hourglass"></span>
                        <h4>Begränsa tid</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis diam ut ipsum dictum
                            fringilla. Pellentesque nec sapien pharetra felis dictum sollicitudin id quis ante.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-share"></span>
                        <h4>Dela testet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis diam ut ipsum dictum
                            fringilla. Pellentesque nec sapien pharetra felis dictum sollicitudin id quis ante.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text text-center"> Web Design & Development by Winners
            <span class="glyphicon glyphicon-star"></span>
        </p>
    </div>
</footer>