<div class="container" id="test">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <form action="/" method="post" class="panel-content">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                    <label for="password">Lösenord</label>
                    <input type="password" name="password" id="password" class="form-control">
                    <button type="submit">Logga in</button>
                </div>
            </form>
        </div>
    </div>
</div>