<div class="container">
    <div class="col-md-12">
        <h2>Registrera ny användare</h2>
        <form action="/register" method="post">
            <input type="text" name="fName" value="" placeholder="Förnamn"><br>
            <input type="text" name="lName" value="" placeholder="Efternamn"><br>
            <input type="text" name="mail" value="" placeholder="Epost"><br>
            <input type="text" name="password" value="" placeholder="Lösenord"><br>
            <select name="role">
                <option value="admin">Admin</option>
                <option value="teacher">Lärare</option>
                <option value="student">Elev</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>