<div class="container">
    <div class="row">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Registrera Användare</h1>
                <hr/>
            </div>
        </div>
                <div class="col-md-4 col-md-offset-4">
                    <form action="/register" method="post">

                        <!-- First Name -->
                        <label for="name" class="cols-sm-2 control-label">Förnamn</label>
                        <input type="text" name="fName" class="form-control" id="firstname" placeholder="Förnamn"/>

                        <!-- Last Name -->
                        <label for="email" class="cols-sm-2 control-label">Efternamn</label>
                        <input type="text" name="lName" class="form-control" id="lastname" placeholder="Efternamn"/>

                        <!-- Email -->
                        <label for="username" class="cols-sm-2 control-label">Email</label>
                        <input type="text" name="mail" class="form-control" id="email" placeholder="Email"/>

                        <!-- Password -->
                        <label for="password" class="cols-sm-2 control-label">Lösenord</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Lösenord"/>

                        <!-- Role -->
                        <select name="role" class="form-control" style="margin: 15px 0">
                            <option value="admin">Admin</option>
                            <option value="teacher">Lärare</option>
                            <option value="student">Elev</option>
                        </select>

                        <!-- Register Button -->
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button" id="registerButton">Registrera</button>
                    </form>
                </div>
        </div>
    </div>

    <style>
        .row {
            margin-top: 50px;
        }
</style>