<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <h3 class="page-header">Välj test</h3>
        <form action="results" method="post">
            <select name="test" id="testResults" class="form-control"></select>
            <br>
            <button type="button" class="btn btn-info btn-block" id="registerButton">Se resultat</button>
        </form>
    </div>
</div>

<script>
    //Array should be filled with scored tests
    var allTests = ["Djungelprov 0103-2017","Sportprov 0203-2017","Failprov 0105-2020"];

    //Fills String to be loaded onto website
    var testInsert = "";
    for(var i=0; i < allTests.length; i++) {
        testInsert += "<option value=allTests[i]>"+allTests[i]+"</option>";
    }
    $("#testResults").append(testInsert);
</script>