<!-- Page for sharing tests with groups or specific students -->

<div class="container" id="shareTest">
    <div class="col-md-4 col-md-offset-4">

        <!-- Test selection -->
        <h3 class="page-header">Välj test att dela</h3>
        <form action="share" method="post">
            <select name="share" id="shareTestSelect" class="form-control"></select>
            <br>

            <!-- Group/student selection -->
            <select name="share" id="shareSelect" class="form-control">
                <option value="">Dela till grupp/elev</option>
                <option value="group" id="group">Dela till grupp</option>
                <option value="student" id="student">Dela till elev</option>
            </select>
        </form>
    </div>
</div>

<!-- Group selection -->
<div class="container collapse" id="shareGroupContainer">
    <div class="col-md-4 col-md-offset-4">
        <h3 class="page-header">Välj grupp</h3>
        <form action="share" method="post">
            <select name="share" id="shareGroupSelect" class="form-control"></select>
            <br>
            <button type="button" class="btn btn-info btn-block" id="registerButton">Dela till grupp</button>
        </form>
    </div>
</div>

<!-- Student selection -->
<div class="container collapse" id="shareStudentContainer">
    <div class="col-md-4 col-md-offset-4">
        <h3 class="page-header">Välj elev</h3>
        <form action="share" method="post">
            <select name="share" id="shareStudentSelect" class="form-control"></select>
            <br>
            <button type="button" class="btn btn-info btn-block" id="registerButton">Dela till elev</button>
        </form>
    </div>
</div>

<script>
    // Displays sub-selections when group/student selection is made
    $(function() {
        $("#shareSelect").change(function() {
            if ($("#group").is(":selected")) {
                $("#shareGroupContainer").slideDown();
                $("#shareStudentContainer").hide();
            } else if($("#student").is(":selected")){
                $("#shareGroupContainer").hide();
                $("#shareStudentContainer").slideDown();
            } else {
                $("#shareGroupContainer").hide();
                $("#shareStudentContainer").hide();
            }
        });

        $('#shareGroupSelect').append(`
            {{#studentGroups}}
                <option>{{groupName}}</option>
            {{/studentGroups}}
        `)
    });
</script>