<!-- Page showing statistics for selected test -->

<div class="container" id="statistics">
    <div class="col-lg-8">
        <div class="panel panel-default">
              <div class="panel-heading">
                    <h1 class="panel-title">Statistik</h1>
              </div>
              <div class="panel-body">

                  <!-- Test selection -->
                  <h4>Välj test för att se statistik</h4><br>
                  <form action="/test" method="get">
                      <select name="test" id="testSelect" class="form-control">
                          {{#each tests}}
                              <option class="{{this.TestId}}">{{this.TTitle}}</option>
                          {{/each}}
                      </select>
                  </form>

                  <!-- Displaying statistics -->
                  <table class="table collapse" id="statsTable">
                      <br><br>
                      <tr>
                          <th>Genomförda test <span class="label label-success">Totalt antal</span></th>
                          <td>10</td>
                      </tr>
                      <tr>
                          <th>Godkända resultat <span class="label label-success">Totalt antal</span></th>
                          <td>8</td>
                      </tr>
                      <tr>
                          <th>Poäng <span class="label label-primary">Medelvärde</span></th>
                          <td>15.50 / 20</td>
                      </tr>
                      <tr>
                          <th>Tidåtgång <span class="label label-primary">Medelvärde</span></th>
                          <td>26 minuter</td>
                      </tr>
                  </table>
              </div>
        </div>
    </div>
</div>

<script>
    // Displays statistics for selected test when clicking button
    $(function() {
        $("#testSelect").change(function() {
            $("#statsTable").slideDown();
            if ($("#genTest1").is(":selected")) {
                $("#statsTable").hide();
                $("#statsTable").slideDown();
            } else if($("#genTest2").is(":selected")){
                $("#statsTable").hide();
                $("#statsTable").slideDown();
            } else {
                //$("#statsTable").hide();
            }
        });
    });
</script>